body {
	box-sizing: border-box;
	font-family: Arial, Tahoma, Verdana, sans-serif;
	color: #B6A9D7;
	list-style-type: none;
}

a {
	text-decoration: none;
}
a.button {
	transition: border-color 0.2s ease;
    background-color: transparent;
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.15);
    border-radius: 3em;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.6em;
    font-weight: bold;
    height: calc(4.75em + 2px);
    letter-spacing: 0.25em;
    line-height: 4.75em;
    padding: 0 3.75em;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}
.actions li, .nav li {
	list-style-type: none;
}
h1, h2, h3, h4 {
	color: white;
}
h1 {
	color: #ffffff;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 0.5em 0;
    font-size: 2.75em;
}
h2 {
	font-size: 1.75em;
	color: #ffffff;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 0.5em 0;
}
.button {
	color: white;
	list-style-type: none;
}
ul.nav li {
	padding: 15px;
}
ul.nav {
	list-style-type: none;
	display: flex;
	width: 100%;
	justify-content: center;
	height: 55px;
}
ul.nav li a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.6em;
    font-weight: bold;
    letter-spacing: 0.25em;
	color: #d3ccbf;
	padding: 10px;
}
div.sidebar {
	background-color: #312450;
}

div.hyper {
	background-color: #5E42A6;
	background-image: url("images/intro.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
	text-decoration: none;
	min-height: calc(100vh - 2.5em);
}
.insidehyper {
	padding: 4em 4em 2em 4em;
}
.hyper p {
	font-size: 1.25em;
	margin: 0 0 2em 0;
    line-height: 1.5;
}
.hyper p a {
	transition: color 0.2s ease, border-bottom-color 0.2s ease;
    border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
    color: #B6A9D7;
}
.content {
	padding: 4em 4em 2em 4em;
	display: flex;
	flex-direction: column;
    justify-content: center;
    width: 50em;
}
.inner-wwd p {
	margin: 0 0 2em 0;
    font-size: 100%;
    line-height: 1.5;
}
.inner-wwd section p {
	margin: 0;
}
.inner-wwd h3 {
	font-size: 1.1em;
	color: #ffffff;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 0.5em 0;
}
section.phone {
	background-color: #5052B5;
	display: flex;
	flex-direction: row;
    min-height: 22.5em;
}
section.street {
	background-color: #4C4EAD;
	display: flex;
	flex-direction: row;
    min-height: 22.5em;
}
section.mountain {
	background-color: #484AA3;
	display: flex;
	flex-direction: row;
    min-height: 22.5em;
}
div.inner-wwd {
	background-color: #B74E91;
	padding: 4em 4em 2em 4em;
	max-width: 100%;
	color: rgba(255, 255, 255, 0.55);
	line-height: 1.5;
	
}
div.features {
	display: flex;
    flex-wrap: wrap;
    border-radius: 0.25em;
    border: solid 1px rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.05);
    margin: 0 0 2em 0;
    box-sizing: border-box;
}

div.features section {
    padding: 3.5em 3em 3em 7em;
    width: 50%;
    border: solid 1px rgba(255, 255, 255, 0.15);
    position: relative;
    display: block;
   	box-sizing: border-box;
}
.icon.major {
    width: 2.5em;
    height: 2.5em;
    display: block;
    background: #ffffff;
    border-radius: 100%;
    color: #B74E91;
    text-align: center;
    line-height: 2.5em;
    margin: 0 0 1.3em 0;
    box-sizing: border-box;
}
.features section .icon {
    transition: opacity 0.5s ease, transform 0.5s ease;
    transition-delay: 1s;
    transform: scale(1);
    position: absolute;
    left: 3em;
    top: 3em;
    opacity: 1;
    text-decoration: none;
    border-bottom: none;
}
div.getit {
	background-color: #5E42A6;
	padding: 4em 4em 2em 4em;
}
.getit p {
	margin: 0 0 2em 0;
    font-size: 100%;
    line-height: 1.5;
}
.name {
	width: calc(65.66666% - 2em);
	padding-right: 2em;
	border-right: solid 1px rgba(255, 255, 255, 0.15);
	display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.address {
	width: calc(33.33333% - 2em);
	padding-right: 2em;
	display: inline-block;
    box-sizing: border-box;
}
form .field.half.first {
    padding: 0 0.75em 0 0;
    display: block;
    box-sizing: border-box;
}
form .field.half {
    width: 50%;
    float: left;
    padding: 0 0 0 0.75em;
    display: block;
    box-sizing: border-box;
}
form .field {
    margin: 0 0 1em 0;
    display: block;
    box-sizing: border-box;
}
label {
    color: #ffffff;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 0.7em 0;
    display: block;
    font-size: 1.1em;
}
input[type="text"], input[type="password"], input[type="email"], select {
    -webkit-appearance: none;
    height: 2.75em;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0.25em;
    border: solid 1px rgba(255, 255, 255, 0.15);
    color: inherit;
    display: block;
    outline: 0;
    text-decoration: none;
    width: 100%;
}
textarea {
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.05);
    border: solid 1px rgba(255, 255, 255, 0.15);
    border-radius: 0.25em;
    display: block;
    outline: 0;
    text-decoration: none;
    width: 100%;
    color: rgba(255, 255, 255, 0.55);
    font-size: 16.5pt;
    min-height: 10em;
    text-align: start;
    margin: 0em 0em 0em 0em;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.address {
    margin: 0 0 2em 0;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.address h3 {
    font-size: 1.1em;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 0.5em 0;
}
a.list-group-item {
    padding-left: 0;
    margin: 0 1em 0 0;
    color: #B6A9D7;
}
div.copyrigt {
	background-color: #493382;
    padding: 4em 4em 2em 4em;
}
.copyrigt p {
    line-height: 1;
    color: rgba(255, 255, 255, 0.15);
    font-size: 0.8em;
    margin: 0 0 2em 0;
}
.copyrigt p a {
    border-bottom: dotted 1px rgba(255, 255, 255, 0.15);
    text-decoration: none;
    color: rgba(255, 255, 255, 0.15);
}